<div fxLayout.gt-sm="row" fxLayout.lt-sm="column" style="height: 90vh;">
  <div fxFlex.lt-md="50" fxFlex.gt-md="70" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field class="example-form-field">
      <mat-label>Game pin</mat-label>
      <input matInput type="text" [(ngModel)]="gamePin" maxlength="7" style="text-align: center; letter-spacing: 10px;">
      <button *ngIf="!!gamePin" matSuffix mat-icon-button aria-label="Clear" (click)="gamePin=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <app-target [gamePin]="gamePin" [target$]="targets$[0]"></app-target>
      <app-target [gamePin]="gamePin" [target$]="targets$[1]"></app-target>
      <app-target [gamePin]="gamePin" [target$]="targets$[2]"></app-target>
    </div>
  </div>

  <div fxFlex.gt-sm="30" fxFlex.lt-sm="100" fxLayout="column" fxLayoutAlign="center center" style="margin: 16px;">
    <!-- <mat-card fxFill fxLayout="column" fxLayoutAlign="top" >
      <mat-card-header>
        <mat-card-title>Log messages</mat-card-title>
      </mat-card-header>
      <mat-card-content style="margin: 1px; overflow-y: auto;">
        <app-log-messages></app-log-messages>
      </mat-card-content>
    </mat-card> -->
  </div>
</div>
