<mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Game">
        <ng-template mat-tab-label>
            <mat-icon>games</mat-icon>
             Game
        </ng-template>
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
            <app-serial-ports class="content"></app-serial-ports>
            <app-targets class="content"></app-targets>
        </div>
    </mat-tab>
    <mat-tab label="Settings">
        <ng-template mat-tab-label>
            <mat-icon>settings</mat-icon>
             Settings
        </ng-template>
        <div fxLayout="column" fxLayoutAlign="center center">
            <app-settings class="content"></app-settings>
        </div>
    </mat-tab>
</mat-tab-group>
